/* Poppins */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Ubuntu */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

h1 {
    font-family: Poppins, Arial, sans-serif;
    font-weight: bold;
    color: indigo;
}

table {
    border: 5px dotted indigo;
    width: 650px;
    margin: 0 auto;
}

thead {
    background-color: indigo;
    color: white;
}

tbody {
    background-color: plum;
    color: indigo;
}

.example {
    background-color: white;
    font-family: monospace;
}

th {
    font-family: Poppins, Arial, sans-serif;
}

td {
    font-family: Ubuntu, Arial, sans-serif;
    padding: 5px;
}

p {
    font-family: Ubuntu, Arial, sans-serif;
}